{% extends 'crm/base.html' %}

{% block content %}
<h1>Exams</h1>
<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Max Score</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.course.name }}</td>
            <td>{{ exam.name }}</td>
            <td>{{ exam.date }}</td>
            <td>{{ exam.duration }}</td>
            <td>{{ exam.max_score }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No exams found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
